@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  /* add background url and contain */
  background: url("/images/ft-g.png") no-repeat center;
  background-size: cover;
}

.landing-image {
  height: calc(80vh - 3.75rem);
  background: #eaeaea;
}

.bg-image-height {
  min-height: calc(85vh - 3.75rem);
}
.annotation-image-height {
  height: calc(70vh - 3.75rem);
}

.landing-caption {
  position: absolute;
  bottom: 50px;
  background-color: #f5f2ee;
  color: #000;
  max-width: 548px;
}
.bg-collective-image-url {
  background-image: url('../assets/svg/slider-bg-collective.svg');
  width: 100%;
  height: 100%;
}

.hero-image {
  object-fit: cover;
  object-position: center;
}

.banner-image {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.modal-box {
  background-color: #f5f2ee;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #36453b !important;
  opacity: 100 !important;
}

.swiper-pagination-bullet-active {
  background: #c7d1a3 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px !important;
  height: 32px !important;
  background: white;
  border-radius: 999px;
  color: #36453b !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
}

.card-continent:hover {
  background-color: rgba(255, 154, 49, 0.8) !important;
}
.card-continent:hover button {
  color: #000;
  border: 1px solid #e26f21;
  background: rgba(255, 154, 49, 0.8) !important;
}

.inspiration-bg {
  background: rgba(211, 115, 13, 0.9) !important;
}


@media (min-width: 768px) {
  .landing-image {
    height: calc(80vh - 5.25rem);
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 56px !important;
    height: 56px !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 24px !important;
  }
}

/* Mobile Responsive */

@media only screen and (max-width: 767px) {
  .landing-image {
    height: calc(40vh - 3.75rem);
    width: 100vw;
  }

  .banner-image {
    margin-top: 0;
  }
  .bg-image-height {
    height: calc(50vh - 3.75rem);
    min-height: calc(50vh - 3.75rem);;
  }
  .annotation-image-height {
    height: calc(40vh - 3.75rem);
  }
}
