@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1300px;
}

.Padding-Top{
    padding-top: 0rem !important;
}

.Toastify__progress-bar--success {
  background-color: #FF9A31 !important;
  /* Other styles for the success progress bar */
}



.logo-background-color{
  background: "rgba(255, 255, 255, 0.3)"
}

.editor-page>p {
  padding-bottom: 20px;
}
.my-10{
  margin-bottom: 3.5rem !important;
}

.border-t{
  border-top-width: 2px !important;
}
.border-b {
  border-bottom-width: 2px !important;
}

.page-details-container {
  max-width: 800px !important;
  margin: 0 auto;
}

.react-datepicker-wrapper{
  width: 100% !important;
}

.clamped-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 11; /* Change this value to the desired number of lines */
  -webkit-box-orient: vertical;
}

.custom-select {
  position: relative;
  display: block;
  appearance: none;
  border: 1px solid #FF9A31;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  width: 100%;
}
.mt-12p{
  margin-top: 1rem !important;
}
.custom-select::after {
  content: '▼'; /* Unicode down arrow character ▼ */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Custom CSS */
.custom-list-marker li::marker {
  color: #FF9A31 !important; /* Your desired color */
}

.bg-cruise-texture {
  /* add background url and contain */
  background: url("/images/ft-g.png") no-repeat center;
  background-size: cover;
}

.landing-image {
  height: calc(80vh - 3.75rem);
  background: #eaeaea;
}

.ml-15p {
  margin-left: 15%;
}
.border-length-10 {
  border-bottom-width: 10%;
}

.bg-image-height-home {
  min-height: calc(95vh - 3.75rem);
}

.bg-image-height {
  min-height: calc(85vh - 3.75rem);
}
.annotation-image-height {
  height: calc(70vh - 3.75rem);
}

.landing-caption {
  position: absolute;
  bottom: 50px;
  background-color: #f5f2ee;
  color: #000;
  max-width: 548px;
}
.bg-collective-image-url {
  background-image: url('../assets/svg/slider-bg-collective.svg');
  width: 100%;
  height: 100%;
}
.bg-dark-icon-offer {
  background-image: url('../assets/svg/slider-bg-collective.svg');
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.hero-image {
  object-fit: cover;
  object-position: center;
}

.banner-image {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.modal-box {
  background-color: #f5f2ee;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #36453b !important;
  opacity: 100 !important;
}

.swiper-pagination-bullet-active {
  background: #c7d1a3 !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px !important;
  height: 32px !important;
  background: rgb(255 255 255);
  border-radius: 999px;
  color: #36453b !important;
}






/* Add your global styles here if needed */

/* Custom arrow styling */
.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
  height: 50px;
  border-radius: 50%;
  color: #36453b;
  cursor: pointer;
  z-index: 10;
}

.slider-img {
  position: relative;
  top: 16px;
  width: 85px;
  left: 4%;
}

.custom-swiper-button-prev {
  left: 75px;
}

.custom-swiper-button-next {
  right: 75px;
}



/* Optional: Adjust z-index for Swiper navigation */
.swiper-button-prev,
.swiper-button-next {
  z-index: 9; /* Ensure it's below custom arrows */
}

@keyframes multicolorBorderAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.multicolor-border-animation {
    /* font-size: 24px; Adjust the font size as needed */
    background: linear-gradient(90deg, #ff8a00, #e52e71, #0075ff, #00ff00); /* Add your desired colors */
    background-size: 400% 400%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: multicolorBorderAnimation 5s infinite; /* Adjust the animation duration as needed */
}


.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
}

.card-continent:hover {
  background-color: rgba(255, 154, 49, 0.8) !important;
}
.card-continent:hover button {
  color: #000;
  border: 1px solid #e26f21;
  background: rgba(255, 154, 49, 0.8) !important;
}

.inspiration-bg {
  background: rgba(211, 115, 13, 0.9) !important;
}

.cruise-card-bg-img {
  background-image: url('../../public/images/cruise.png');
}

.basic-multi-select .css-13cymwt-control {
  border-color:#e26f21;
}

/* styles.css */
.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (min-width: 768px) {


  
  .landing-image {
    height: calc(80vh - 5.25rem);
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 56px !important;
    height: 56px !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 24px !important;
  }
}

/* Responsive adjustments */
@media only screen and (max-width: 767px) {

  .bg-image-height-home {
    height: calc(95vh - 3.75rem);
    min-height: calc(95vh - 3.75rem);
  }
  
  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    width: 60px;
    height: 40px;
  }

  .slider-img {
    width: 60px;
  }

  .custom-swiper-button-prev {
    left: 4px;
  }

  .custom-swiper-button-next {
    right: 0px;
  }

  .landing-image {
    height: calc(40vh - 3.75rem);
    width: 100vw;
  }

  .banner-image {
    margin-top: 0;
  }
  .bg-image-height {
    height: calc(40vh - 3.75rem);
    min-height: calc(40vh - 3.75rem);
  }
  .annotation-image-height {
    height: calc(40vh - 3.75rem);
  }
}

