/* Default styles for larger screens */

.inspirationContainer ul {
  list-style: inherit !important;
  margin: 0;
  padding: 37px;
}
.inspirationContainer img {
   width: 100%;
}

.inspirationContainer a {
  /* color: #ff9a31; */
  /* text-decoration: underline; */
  font-weight: normal;
}

.inspirationContainer a:hover {
  color: #ff9a31;
  /* text-decoration: underline; */
  font-weight: normal;
}

.inspirationContainer ul li::marker {
  color: #ff9a31 !important;
}

.inspirationContainer p {
  padding-bottom: 20px;
}

.inspirationContainer figcaption {
  padding-top: 15px !important;
}

.inspirationContainer h1 {
  font-size: 32px !important;
}

.inspirationContainer h3 {
  font-size: 12px;
  letter-spacing: 2.4px;
  font-family: "ApercuMedium";
}

.inspirationContainer h4 {
  font-size: 41px;
}

.inspirationContainer h2 {
  font-size: 19px;
  letter-spacing: 2.4px;
  font-family: "ApercuMedium";
}

.inspirationContainer > h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: black;
  position: relative;
  font-size: 23px;
}

.inspirationContainer > h5::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 8%;
  /* Set the width to 10% */
  height: 2px;
  background-color: #ff9a31;
}

.inspirationContainer h6 {
  display: flex;
  font-weight: 300;
  justify-content: center;
  font-size: 41px;
  /* You can adjust the font size as needed */
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 36px;
  color: black;
  /* line-height: 34px; */
  position: relative;
  /* Add this line */
}

.inspirationContainer table tr {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.inspirationContainer table td {
  width: 56%;
}

.inspirationContainer table img {
  max-width: 100%;
}

.inspirationContainer table td:nth-child(2) {
  width: 44%;
  text-align: justify;
}

.inspirationContainer h6::after {
  content: '';
  flex-grow: 1;
  border: 2px solid #ff9a31;
  width: 26%;
  line-height: 34px;
  position: absolute;
}

.inspirationContainer h6::before {
  top: 0;
}

.inspirationContainer h6::after {
  bottom: 0;
  text-align: center;
  /* Center text within h6 */
}
.inspirationContainer > blockquote {
  padding: 50px 100px 50px 100px;
}

.inspirationContainer > blockquote h1 {
  font-size: 28px;
  color: black;
  font-weight: 300;
}

.inspirationContainer blockquote h1::before {
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: -3px;
}

.inspirationContainer blockquote h1::after {
  line-height: 1;
  position: relative;
  top: 0px;
  left: -1px;
}

.inspirationContainer > blockquote h4 {
  color: var(--Primary-Orange, #ff9a31);
  font-family: Apercu;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.9px;
}

/* Responsive styles for mobile screens */
@media (max-width: 768px) {
  .inspirationContainer > h1 {
    font-size: 1.8em;
    margin-top: 20px;
    padding-bottom: 10px;
  }

  .inspirationContainer table tr {
    display: flex;
    flex-direction: column;
  }

  .inspirationContainer table img {
    max-width: 180%;
    position: relative;
  }

  .inspirationContainer table td:nth-child(2) {
    width: 100%;
    text-align: justify;
  }

  .inspirationContainer > h2,
  .inspirationContainer > h5 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .inspirationContainer > h6 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .inspirationContainer > h3 {
    font-size: 18px;
  }

  .inspirationContainer > h4 {
    font-size: 16px;
  }

  .inspirationContainer > blockquote {
    padding: 30px;
    margin-top: 1%;
  }

  .inspirationContainer > blockquote h1 {
    font-size: 24px;
  }
}
